* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #95b7a9;
  min-height: 10vh;
  padding: 0px 20px;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 18px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.LogIn {
  display: flex;
  gap: 20px;
  background-color: #333;
  overflow: hidden;
  display: flex;
}

.LogIn a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
}

.LogIn a:hover {
  background-color: white;
  color: black;
}

.home {
  background-color: darkolivegreen;
}

.mid {
  margin: 10px;
  margin-top: 50px;
  background-color: #95b7a9;
}

img {
  margin: 50px;
  width: 700px;
}

p {
  margin: 50px;
  padding-top: 0px;
  background-color: white;
}
